.card-container-women{
  display: flex;
  gap: 5rem;
  scroll-snap-type: x mandatory;
  scroll-padding: 24px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  text-align: center;
  gap: 2rem;
  background-color: #D9D9D9;

}

.card-container-data img{
  height: 150px;

  margin: auto;
}
  
  
